
.modal {
    height: 50vh;
    width: 10vw;
}

.input-email {
    width: 100%;
    padding: 10px;
    margin: 10px 0 5px;
}

.input-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.btn-submit {
    padding: 10px 40px;
}

.react-responsive-modal-modal {
    max-width: 500px;
    text-align: center;
}


.logout-btn {
    padding: 0.5rem 1rem;
    font-weight: 500;
    margin: 0 0.2rem;
    background-color: #d3d1d1;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-text);
    transition: all 0.3s;
}

.logout-btn:hover {
    background-color: rgb(173, 172, 172);
    scale: 1.05;
}