

.modal-form {
    width: 400px;
}

.input-email, .input-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0 5px;
}

/* CSS for 50% width on the First Name and Last Name inputs */
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-container-half {
    width: 49%;
  }
  
  /* Add these styles to your existing CSS */
  .input-firstname,
  .input-lastname {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  


.input-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.btn-submit {
    padding: 10px 40px;
}




.btn-submit__singup {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #F79256;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.error-message {
    color: #ff0000; 
    font-size: 14px; 
    margin-top: 5px; 
    text-align: left; 
    font-family: var(--font-family);
    width: 100%;
  }

.error-center {
    text-align: center;
    margin-bottom: 15px;
}
  


.signup-header {
    font-family: var(--font-family);
    font-weight: 500;
}

.singup-login-link {
  margin-top: 15px;
  font-family: var(--font-family);
}

.singup-login-link a {
  color: #597194;
}