.header {
    display: flex;
    flex-direction: row;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: var(--color-text);

    margin-top: 1.5rem;
}





@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 38px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

}