
.react-responsive-modal-modal {
    min-width: 500px;
}

.modal-form {
    width: 400px;
}

.input-email {
    width: 100%;
    padding: 10px;
    margin: 10px 0 5px;
}

.input-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-submit {
    background-color: var(--color-button); 
    color: #fff; /* Text color */
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    line-height: 25px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s;
}



.login-submit:hover {
    background-color: var(--color-button-hover);
    scale: 1.05;
}

.login-header {
    font-family: var(--font-family);
    font-weight: 500;
}

.signup-login-link {
    margin-top: 15px;
    font-family: var(--font-family);
  }
  
.signup-login-link a {
    color: #597194;
}